
// use rem-calc from foundation
// use $small-only from foundation

#page-login-container {
  width: 100%;
  height: 100%;

  padding-top: rem-calc(60px);

  overflow: auto;

}

@media #{$small-only} {
  #page-login-container {
    padding-left: rem-calc(5px);
    padding-right: rem-calc(5px);
  }
}
