@import "settings";
@import "compass";

// use rem-calc from foundation

#ticket-navigation-ticket-list-segment-container {
  position: relative;

  width: 100%;
  height: 100%;
}

#ticket-navigation-ticket-list-header {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  // flow determined height

  @extend .ah-single-line;
  overflow: visible;

  color: $grey-text-color;
}

#ticket-navigation-ticket-list-listing {
  position: absolute;

  top: rem-calc(40px);
  bottom: rem-calc(35px);
  left: 0;

  width: 100%;

  overflow-y: auto;
}

#ticket-navigation-ticket-list-footer {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  // flow determined height

  line-height: rem-calc(30px);

  padding-top: rem-calc(5px);
  padding-bottom: rem-calc(5px);

  font-size: 70%;
  font-weight: 200;

  color: lighten($grey-text-color, 10%);
  background-color: white;
}
