$dark-bg-color: #888888;

$grey-text-color-light: #eeeeee;
$grey-text-color: #7a7a7a;
$grey-text-color-dark-bg: #cccccc;

$grey-line-color: lighten(#dddddd, 5%);
$grey-line-color-dark-bg: #5C5C5C;

$application-color: #FFF;
$application-complement-color: #888888;
